.center {
    background: none;
    width: 66%;
    padding: var(--space) var(--space) 0;
    margin: 100px;
}

.outside1 {
    margin-left: 65px;
    margin-right: 1px;
   
    padding-bottom:600px;
    background: none;
    width: 90%;
}


