
.picture {
    margin-top: -60px;
}
.center {
    padding: var(--space) var(--space) 0;
    
    background: none;
    width: 66%;
}
.homepage {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blue;
    
   
    width: 400px;
    min-height: 50vh;
    border-radius: 40px;
    
    margin-top:150px;
    margin-left: 10px auto;
    
}
.homepage-Title {
    justify-content:flex-end;
    flex: 1;
    position:absolute;
    text-align:right;
    align-items: flex-end;
    
    font-size:60px;
    font-family:'Comic Sans MS';
    color:white;
    flex-direction:row;
    background-color:deepskyblue;
    height:90px;
    width:250px;
    margin-left:700px;
    margin-right: 50px;
    margin-top: 250px;
    
}

.LinkColor{
    color:blue;
}
.outside {
    padding: var(--space) var(--space) 0;
    margin: 100px;
    background: none;
    width: 66%;
}
.nomargins {
    margin:auto;
}
.hero{
    background-image: url('images/Modern background.png');
    background-size: cover;
    background-position: center center;
    
    top:0;
    bottom: 0;
    height: 100vh;

}
.sidebar {
    top: 0;
    bottom:-100px;
    position:relative;

   
}